.main-action__btn {
    color: #FFFFFF;
    background-color: #70A9A1;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    height: 60px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000000;
    border: 0;
    transition: 0.5s ease-in-out;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.main-action__btn:hover {
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
    background-color: #7fffd4;
    color: #00487C;
    animation: pulsar 0.8s ease-in-out infinite alternate;
}