.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00487C;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

.main-header .header__nav {
        font-family: "Fira Code", Arial, Helvetica, sans-serif;
        font-weight: 500;
}

.main-header .header__img {
    width: 60px;
    height: 60px;
}