.main-banner {
    background-image: url('/Portfolio/assets/img/banner-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-bottom: 10px solid #000;  
    padding: 115px 90px; 
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.main-banner .main-box {
    margin-bottom: 38px;
}

.main-banner .navegation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    

}

