.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00487C;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

.main-header .header__nav {
        font-family: "Fira Code", Arial, Helvetica, sans-serif;
        font-weight: 500;
}

.main-header .header__img {
    width: 60px;
    height: 60px;
}


@media (max-width: 980px) {
    .main-header > .header__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: #000;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 16px;
        
    }

    .main-header .main-action {
        display: flex;
    }

    .main-header .icon-close {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

@media (min-width: 980px) {
    .main-header > .icon-menu {
        display: none;
    }
}

