.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 35px;
    color: #70A9A1;
    text-shadow: 4px 4px #000000;
}

.main-title.-second{
    color: #FFF;
    text-shadow: none;
    text-align: center;
}
