.main-section {
    background-color: #00487C;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #70A9A1;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgVerde {
    background-color: #3E6680;
}

.main-section.-bdFirts {
    border-bottom: 10px solid #70A9A1;
}


.main-section.-bgAzul {
    background-color: #027BCE;
}
